<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ person.first_name }}{{person.surname }}</h1>
<p> Дата рождения: {{person.birth_date}}</p>
<p> Дата смерти: {{person.death_date}}</p>
<h2>Родсветные связи:</h2>
<h3>Исходящие связи:</h3>
<ul>
    {% for rel in relationships_from %}
    <li>{{rel.relationship_type}}: <a href="{% url 'person_detail' rel.to_person_id %}">{{rel.to_person.first_name}}{{rel.to_person.surname}}</a>(Описание:{{ rel.description }})</li>
    {% endfor %}
    </ul>
    <h3>Входящие связи:</h3>
    <ul>
        {% for rel in relationships_to %}
        <li>{{rel.relationship_type}}: <a href="{% url 'person_detail' rel.from_person_id %}">{{rel.from_person.first_name}}{{rel.from_person.surname}}</a>(Описание:{{ rel.description }})</li>
        {% endfor %}
        </ul>
<a href="{% url 'create_relationship' person.id %}">Добавить связь</a>
</body>
</html>